*,
*::before,
*::after {
  box-sizing: border-box;
}
/*----------------------------------------------------------------body----------------------------------------------*/
body {
  /* background: url(pngtree-black-meat-western-food-banner-background-image_194600.jpg); */
  /*  background: rgb(254, 202, 66); */
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: white;
  display: inline-block;
  font-size: 90px;
  margin: 5px 25px;
  padding: 8px;
  border: 1px solid#75e6da;
  border-radius: 55px;
  font-family: "Helvetica", sans-serif;
  background-color: #75e6da;
  transform: translate(55%, 0%);
}

.result-nopadding {
  padding: 30px;
  width: 500px;
  height: 500px;
  border: 1px solid aqua;
  border-radius: 25px;
  background: linear-gradient(to left, red, blue);
  /* background-color: #eab2bb; */
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}
/* flex-parent*/
.flex-parent {
  display: flex;
  flex-direction: row;
}

.flex-searchview {
  color: #3c77af;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}
