.bmi-mainStyle {
  padding: 0;
  height: 75vh;
  width: 600px;
  display: flex;
  flex-direction: column;
  position: relative;
  /* border: 1px solid aquamarine; */
  margin-top: 3%;
}
.bmi-mainStyle h1 {
  flex: 0.3;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.bmi-mainStyle p {
  line-height: 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
}
.bmi-style {
  padding-left: 70px;
  /* background-color: grey; */
}

.bmi-mainStyle table label {
  color: #3c77af;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

.input-box {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(79deg, #edf3fc, #dddff9 48%, #b2c3fd 100%);
}

.bmi-result {
  position: absolute;
  left: 600px;
  display: flex;
  flex-direction: row;
  width: 300px;
}

.bmi-info {
  position: absolute;
  left: 600px;
  display: flex;
  flex-direction: row;
  width: 700px;
}

.bmi-info {
  float: right;
  margin-right: 100px;
  color: #3c77af;
}

.grey-text {
  margin-left: -57px;
  color: #888;
}

/* position: relative;
    background: #eee;
    border: 1px solid #aaa;
    padding: 3px 8px;
    text-align: center; */
