/*----------------------------------------------------------------SearchView----------------------------------------------*/
.searchview-container {
  padding-left: 70px;
  width: 500px;
  height: 500px;
  border: 1px solid aqua;
  border-radius: 25px;
  /* background: linear-gradient(to bottom, red, blue); */
  background-color: #eab2bb;
  /* position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
  text-align: center;
}

table td.column {
  font-weight: bold;
  text-align: right;
  font-size: 13px;
}

table label {
  color: #3c77af;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* input box such as age, weight and height */
.input-box {
  display: block;
  width: 110px;
  height: 50px;
  padding: 6px 14px;
  padding-right: 18px;
  font-size: 17px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Submit button */
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
<<<<<<< HEAD
.btn-submit {
  margin-top: 8px;
  background-color: #28e166;
  /* background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); */
  color: #ffffff;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 25px;
  line-height: 1.3333333;
  border-radius: 6px;
}
=======
>>>>>>> d37ff8c4169b62de04868a9316fe96267ac048b5
