.bmi-mainStyle {
  padding: 0;
  height: 75vh;
  width: 600px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 3%;
  font-size: 18px;
}
.grey-text {
  font-weight: bold;
  font-size: 18px;
  margin-left: -60px;
  color: #888;
}
.bmi-mainStyle h1 {
  flex: 0.3;
  text-align: left;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.bmi-mainStyle p {
  line-height: 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  color: black;
}
.bmi-style {
  padding-left: 70px;
}

.bmi-mainStyle table label {
  color: #3c77af;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

.input-box {
  font-size: 18px;
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(79deg, #edf3fc, #dddff9 48%, #b2c3fd 100%);
}
.bmi-info {
  position: absolute;
  left: 600px;
  display: flex;
  flex-direction: row;
  width: 700px;
}
.bmi-info-result {
  position: absolute;
  top: 100px;
  left: 600px;
  width: 670px;
}

.bmi-result {
  position: absolute;
  left: 600px;
  width: 600px;
  height: 80px;
  margin: 20px 10px;
  /* border: 1px solid grey; */
}
